

.main {
  margin-right: 250px; /* Same as the width of the sidenav */
  margin-top: 0;
  font-size: 33px; /* Increased text to enable scrolling */
  padding: 20px 10px;
}


@media (max-width: 767px) {
  .main{
    margin-right: 0px;
  }
}