.flex-icon-admin {
  display: flex;
  flex-wrap: wrap;
  align-content: space-around;

}

.flex-icon-admin > div {
  background-color: #f1f1f1;
  width: 25%;
  margin: 10px;
  text-align: center;
  line-height: 40px;
  font-size: 30px;
  margin-right: 45px;
  color: #821f66;
  border-radius: 1px;
  border: 1px solid #c4c1c1
}
.link--color:hover{
  color: #821f66;
  text-decoration: none;

}
.link--color{
  color: #821f66;
}