.navbar-default {
  /* border-color: #821f66; */
  border: 1px solid #96909087;
  /* -webkit-align-items: center; */
  height: 100%;
  width: 250px;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  text-align: right;
  padding-top: 90px
  }
  .navbar-default span{
    width: 250px;
    padding: 0px 20px;
  }
  .navbar-default span:hover{
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    transition: all 0.5s ease;
    border-bottom: 1px solid #96909087; 

  }
  .nav-link{
    color: #821f66;
    font-size: 25px;

    padding-right: 10px;
  



  }
  .nav-link:hover{
    color: #821f66;
-webkit-transition: all 0.5s ease;
-o-transition: all 0.5s ease;
-moz-transition: all 0.5s ease;
transition: all 0.5s ease;
background-color: #96909087;
opacity: 1;
border-radius: 3px;

  }
  .sidebar, .main-panel {
    overflow: auto;
    max-height: 100%;
    height: 100%;
    -webkit-transition-property: top, bottom;
    transition-property: top, bottom;
    -webkit-transition-duration: .2s, .2s;
    transition-duration: .2s, .2s;
    -webkit-transition-timing-function: linear, linear;
    transition-timing-function: linear, linear;
    -webkit-overflow-scrolling: touch;
}
.icon-style{
  padding-left: 10px;
  padding-top: 10px
}